# =========================
# C++ Object Files
# =========================
*.o
*.obj

# =========================
# Executables
# =========================
*.out
*.exe

# Common executable names
server
redis_clone
main
